# This is a basic workflow to help you get started with Actions

name: Test all synonym files on a real Elasticsearch

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "test"
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        es: [7.9.0, 7.8.1, 7.8.0, 6.8.11]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - name: Run Elasticsearch ${{ matrix.es }} tests
      run: |
        TARGET=${{ matrix.es }} make install start test
